<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0bc67ca932.js" crossorigin="anonymous"></script>
    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">

    {{!-- data table --}}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <style>
        .color {
            color: #6c7293;
        }

        .card {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #000000;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.10rem
        }

        .card-header:first-child {
            border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
        }

        .card-header {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: #000000;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        }

        .track {
            position: relative;
            background-color: #6c7293;
            height: 7px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 60px;
            margin-top: 50px
        }

        .track .step {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 25%;
            margin-top: -18px;
            text-align: center;
            position: relative
        }

        .track .step.active:before {
            background: #d12400
        }

        .track .step::before {
            height: 7px;
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            top: 18px
        }

        .track .step.active .icon {
            background: #d12400;
            color: #191c24
        }

        .track .icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: relative;
            border-radius: 100%;
            background: #ddd
        }

        .track .step.active .text {
            font-weight: 400;
            color: #000
        }

        .track .text {
            display: block;
            margin-top: 7px
        }

        .itemside {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100% color: #000;
        }

        .itemside .aside {
            position: relative;
            -ms-flex-negative: 0;
            flex-shrink: 0
        }

        .img-sm {
            width: 80px;
            height: 80px;
            padding: 7px
        }

        ul.row,
        ul.row-sm {
            list-style: none;
            padding: 0
        }

        .itemside .info {
            padding-left: 15px;
            padding-right: 7px
        }

        .itemside .title {
            display: block;
            margin-bottom: 5px;
            color: #6c7293
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem
        }

        .btn-warning {
            color: #6c7293;
            background-color: #d12400;
            border-color: #ee5435;
            border-radius: 1px
        }

        .btn-warning:hover {
            color: #6c7293;
            background-color: #d12400;
            border-color: #d12400;
            border-radius: 1px
        }

        strong {
            font-size: 15px;
        }
    </style>
    </style>

</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><img src="/img/logo.png" alt=""></h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/images/admin.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">MUHAMMED ANSIF</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/Dashbord" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Catagery</a>
                        <div class="dropdown-menu bg-transparent border-0 callapse">
                            <a href="/Dashbord/viewcatagery" class="dropdown-item">View All Catagery</a>
                            <a href="/Dashbord/addcatagery" class="dropdown-item">Add Catagery</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Products</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="/Dashbord/viewproduct" class="dropdown-item">View Product</a>
                            <a href="/Dashbord/addproduct" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <a href="/Dashbord/users" class="nav-item nav-link active"><i class="fa-solid fa-user"></i>
                        Users</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/images/admin.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">MUHAMMED ANSIF V</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/adminlogout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            {{!-- Product view Table start --}}

            <div class="">
                <article class="card">
                    <h4 class="card-header"> My Orders / Tracking </h4>
                    <div class="card-body">
                        <h5>Order ID: {{order.orderid}}</h5>
                        <article class="card">
                            <div class="card-body row">
                                <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
                                <div class="col"> <strong>Payment Status:</strong> <br> {{order.payment}}|
                                    {{order.paymentstatus}}</div>
                                <div class="col"> <strong>Status:</strong> <br><span id="status">{{order.status}}</span>
                                </div>
                                <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                            </div>
                        </article>
                        <div class="track">
                            <div id="orderconfirmed" class="step "><a id="orderconfirmed-button" style="color: #6c7293;"
                                    onclick="changestatus('{{userid}}','{{order._id}}','Order Confirmed')">
                                    <span class="icon">
                                    <i class="fa fa-check"></i>
                                    </span>
                                    <span class="text">Order Confirmed</span>
                                </a>
                            </div>
                            <div id="pickedbycourier" class="step "><a id="pickedbycourier-button"
                                    style="color: #6c7293;"
                                    onclick="changestatus('{{userid}}','{{order._id}}','Picked by courier')">
                                    <span class="icon"> <i class="fa fa-user"></i>
                                    </span>
                                    <span class="text">Picked by courier</span>
                                </a>
                            </div>
                            <div id="ontheway" class="step "> <a id="ontheway-button" style="color: #6c7293;"
                                    onclick="changestatus('{{userid}}','{{order._id}}','On the way')">
                                    <span class="icon"> <i class="fa fa-truck"></i> </span>
                                    <span class="text"> On the way </span>
                                </a> </div>
                            <div id="delivered" class="step"><a id="delivered-button" style="color: #6c7293;"
                                    onclick="changestatus('{{userid}}','{{order._id}}','Delivered')">
                                    <span class="icon"> <i class="fa fa-box"></i> </span>
                                    <span class="text"> Delivered</span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <ul class="row">
                            <li class="col-md-6">
                                <figure class="itemside mb-6">
                                    <div class="aside"><img src="/images/productimages/{{order.product.items._id}}/1.jpg" class="img-sm border">
                                    </div>
                                    <figcaption class=" align-self-center">
                                        <p class="title">{{order.product.items.Name}} {{order.product.items.Catagery}}
                                            with 500GB HDD <br> 8GB RAM</p> <span class="text-muted">$950 </span>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="col-md-6">
                                <figure class="itemside mb-6">
                                    <figcaption class="info align-self-center ">
                                        <div>
                                            <h3 class="color">{{order.addressid.firstname}} {{order.addressid.lastname}}
                                            </h3>
                                            <h5 class="color">
                                                {{order.addressid.address}},{{order.addressid.state}},{{order.addressid.city}}<br>
                                                {{order.addressid.locality}},{{order.addressid.pincode}}
                                            </h5>
                                            <h3 class="color">Phone number {{order.addressid.mobile}}</h3>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                        <div class="card-footer border-0 px-4 py-5"
                            style="background-color: #d12400; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                Total
                                paid: <span class="h2 mb-0 ms-2">₹{{order.total}}</span></h5>
                        </div>
                        <hr>

                    </div>
                </article>
            </div>

            {{!-- Product view Table End --}}

            <!-- Footer Start -->
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/main.js"></script>

    <script>
        trecking()
        function trecking() {
            const status = $('#status').text()
            console.log(status)
            if (status == 'Order Confirmed') {
                $('#orderconfirmed').addClass('active')
                $("#orderconfirmed-button").attr("onclick", "").unbind("click");
            } else if (status == 'Picked by courier') {
                $('#orderconfirmed').addClass('active')
                $('#pickedbycourier').addClass('active')
                $("#orderconfirmed-button").attr("onclick", "").unbind("click");
                $("#pickedbycourier-button").attr("onclick", "").unbind("click");
            } else if (status == 'On the way') {
                $('#orderconfirmed').addClass('active')
                $('#pickedbycourier').addClass('active')
                $('#ontheway').addClass('active')
                $("#orderconfirmed-button").attr("onclick", "").unbind("click");
                $("#pickedbycourier-button").attr("onclick", "").unbind("click");
                $("#ontheway-button").attr("onclick", "").unbind("click");
            } else if (status == 'Delivered') {
                $('#orderconfirmed').addClass('active')
                $('#pickedbycourier').addClass('active')
                $('#ontheway').addClass('active')
                $('#delivered').addClass('active')
                  $("#orderconfirmed-button").attr("onclick", "").unbind("click");
                $("#pickedbycourier-button").attr("onclick", "").unbind("click");
                $("#ontheway-button").attr("onclick", "").unbind("click");
                $("#delivered-button").attr("onclick", "").unbind("click");
            }else if (status == 'Canceled') {
					$('#orderconfirmed').addClass('active')
					$('#pickedbycourier').addClass('active')
					$('#ontheway').addClass('active')
					$('#delivered').addClass('active')
					$('#delivered').html('<span class="icon"> <i class="fa-regular fa-circle-xmark"></i> </span> <span class="text"> Order Canceled</span>')
				}
        }
        function changestatus(userid, orderid, status) {
            $.ajax({
                url: '/Dashbord/changestatus',
                method: "POST",
                data: {
                    userid: userid,
                    orderid: orderid,
                    status: status
                },
                success: (response) => {
                    $('#status').text(status)
                    trecking()
                },
                error: (err) => {
                    alert(err)
                }
            })
        }
    </script>

</body>