<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/wishlist.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="/user/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/user/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/user/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/user/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/user/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0bc67ca932.js" crossorigin="anonymous"></script>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/user/css/style.css" />
    <style>
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }

        body {
            background: rgb(99, 39, 120)
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }

        .input-hide {
            display: none;
        }

        .input-error::-webkit-input-placeholder {
            color: red
        }

        .error {
            color: red;
        }
    </style>
</head>

<body>

    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <div class="dropdown">
                        <button class="dropbtn">More</button>
                        <div class="dropdown-content">
                            <a href="#"><i class="fa-solid fa-bell"></i>NOTIFICATION PREFERENCES</a>
                            <a href="#"><i class="fa-solid fa-comments-question-check"></i>24x7 Customer Care
                                Support</a>
                            <a href="#"><i class="fa-solid fa-download"></i>Download App</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropbtn"><i class="fa fa-user-o"></i> My Account</a>
                        <div class="dropdown-content">
                            <a href="#"><i class="fa-solid fa-user"></i> Profile</a>
                            <a href="#"><i class="fa-solid fa-award"></i> Prime Membership</a>
                            <a href="#"><i class="fa-solid fa-coin-vertical"></i> Supercoin Zone</a>
                            <a href="#"><i class="fa-solid fa-cards-blank"></i>Orders</a>
                            <a href="#"><i class="fa-solid fa-gift-card"></i>Coupons</a>
                            <a href="#"><i class="fa-solid fa-gift-card"></i> Gift Cards</a>
                            <a href="#">Notifications</a>
                            <a href="/userlogout">Logout</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">All Categories</option>
                                    <option value="1">Category 01</option>
                                    <option value="1">Category 02</option>
                                </select>
                                <input class="input" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!--Modal: Login with Avatar Form-->
    <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.webp" alt="avatar"
                        class="rounded-circle img-responsive">
                </div>
                <!--Body-->
                <div class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">Maria Doe</h5>

                    <div class="md-form ml-0 mr-0">
                        <input type="password" type="text" id="passwrodchecking"
                            class="form-control form-control-sm validate ml-0">
                        <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter password</label>
                    </div>

                    <div class="text-center mt-4">
                        <button onclick="checkpassword()" class="btn btn-cyan mt-1" data-dismiss="modal">Change</button>
                    </div>
                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal: Login with Avatar Form-->
    <div class="modal fade" id="password-changing-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.webp" alt="avatar"
                        class="rounded-circle img-responsive">
                </div>
                <!--Body-->
                <div class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">Maria Doe</h5>
                    <form onsubmit="return false" id="password-changing-form">
                        <div class="md-form ml-0 mr-0">
                            <input type="password" type="text" name="oldpassword" id="oldpassword"
                                class="form-control form-control-sm validate mt-4" placeholder="Old Password">
                        </div>


                        <div class="md-form ml-0 mr-0">
                            <input type="password" type="text" name="newpassword" id="newpassword"
                                class="form-control form-control-sm validate mt-4" placeholder="New Password">
                        </div>

                        <div class="md-form ml-0 mr-0">
                            <input type="password" type="text" name="confirmpassword" id="confirmpassword"
                                class="form-control form-control-sm validate mt-4" placeholder="Confirm Password">
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-cyan mt-1" id="password-changing-button">Change</button>
                        </div>
                </div>
                </form>

            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login with Avatar Form-->


    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{username}}</h5>
                            <div class="d-flex justify-content-center mb-2">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0">https://mdbootstrap.com</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0">@mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="" class="col-lg-8">
                    <div id="alert" class="alert input-hide " role="alert"></div>
                    <div id="update-alert" class="alert alert-success  hide"></div>
                    <div class="card mb-4">
                        <div id="card" class="card-body">
                            {{#each coupons}}
                            <div class="row">
                                <div class="p-4 d-flex justify-content-between">
                                    <div>
                                        <h4 class="text-success">Extra {{this.discountamount}} OFF , CODE : {{this.code}}</h4>
                                        <h6>{{this.description}}</h6>
                                    </div>
                                    <div>
                                        <b class="text-secondary">valid from :<span  id="{{this._id}}valid-from">{{this.valid_from}}</span></b><br>
                                        <b class="text-secondary"> valid until <span  id="{{this._id}}valid-until">{{this.valid_until}}</span></b>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <script>
                                dateslice()
                              function dateslice(){
                                 const  id = '{{this._id}}'
                            let validfrom = document.getElementById(id+'valid-from').innerText
                            let validuntil = document.getElementById(id+'valid-until').innerText
                            validfrom = validfrom.slice(0,15)
                            validuntil = validuntil.slice(0,15)
                            document.getElementById(id+'valid-from').innerHTML = validfrom
                            document.getElementById(id+'valid-until').innerHTML = validuntil
                                }
                            </script>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="/user/js/jquery.min.js"></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <script src="/user/js/slick.min.js"></script>
    <script src="/user/js/nouislider.min.js"></script>
    <script src="/user/js/jquery.zoom.min.js"></script>
    <script src="/user/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    
    <script>
        $(document).ready(() => {
            const coupons = '{{coupons}}'
            if(coupons == []){
                const card = "<h4 class='text-center text-danger'>You Have No Coupons Available </h4>"
                $('#card').html(card)
            }
        })
    </script>

</body>